/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  color: #000000;
  position: relative;
  background: #ffffff;
}

.body::before {
  content: "";
  position: fixed;
  background: #ffffff;
  background-image: url("../img/bgh.png") top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  animation: slideIn 1.5s ease-out forwards;
}
body::before {
  content: "";
  position: fixed;
  background: #ffffff url("../img/bg.svg") top right no-repeat;
  background-size: auto 90vh;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 0;
}



@media (max-width: 995px) {
  body::before {
    background: #ffffff url("../img/bgh.png") top right no-repeat;
  }
}
@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  color: #002088;
}

a:hover {
  color: #35e888;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.page-btn {
  position: relative;
  margin: auto;
  color: #ffffff;
  width: fit-content;
  height: auto;
  border-color: #000000;
  border-width: 2px 8px;
  border-style: solid;
  background:#000;
   margin-top:0;
  cursor: default;
  font-size: smaller;
  z-index: 1100000000000000;
  /* Large Text Bold */
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 140% */
border-radius: 5px;
}

@media (max-width: 992px) {
  .page-btn {
    font-size: 18px;
    margin: 450px;
  }
}
@media (max-width: 376px) {
  .page-btn {
    font-size: 15px;
    margin: 450px;
  }
}
.page-btn:hover {
  opacity: 100%;
  background-color: #000000;
}
.page-btn:active {
  transform: scale(0.9);
  background-color: #000000;
}
.page-btn:focus {
  outline: none;
  opacity: 1;
}

#slider-btn {
  position: relative;
  align-self: center;
  top: 2.2rem;
  font-size: 50px;
}

.slider-btn-motion:hover {
  padding-bottom: 40px;
  transform: scale(1.2);
  color:#002088;
}

.slider-btn-motion:active{
  transform: scale(0.8);
  padding-bottom: 40px;
}
.slider-btn-motion:focus {
  outline: none;
  opacity: 0.8;
}
@media (max-height: 640px) {
  #slider-btn {
    top: 0.2rem;
  }
}
@media (max-width: 992px) {
  .responsive-design {
    visibility: hidden;
    display: none;

  }
}
@media (min-width: 992px) {
  .responsive-mobile-design {
    visibility: hidden;
    display: none;
  }
}


@media (min-width: 992px) {
  #slider-btn {
    display: block;
    text-align: center;

  }
}

.slider-invisible {
  display: none;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/




/* -------------------------------------------------------------
Loading Page Style
--------------------------------------------------------------------*/
.card{
  text-align: center;
  width: 100%;
  background: #fff;
  color: #000000;
  display: flex;
  flex-direction: row;
  border: 0px;
}

.card-1 {
  text-align: center;
  width: fit-content;
  margin: 25px;
  background: #fff;
  color: #0f2b17;
  display: flex;
  flex-direction: row;
}
.card-1 .qoutes {
  text-align: center;
  text-wrap: balance;
  margin: 10px;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #3d3d3d;
}
.card .content {
  text-wrap: balance;
  text-align: left;
  align-content: center;
  width: 50%;
  margin: 10px;
  margin-left: 20px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #3d3d3d;
}
.card .content p {
 width: 100%;
}

.nowrap-dev{
  white-space: nowrap;
}

.card .image {
  color: #0f2b17;
  
}
.content button {
  max-height: 80px;
}

.content button .fa-whatsapp {
  color: #ffffff;
  margin-right: 5px;
}
.content button .fa-square-behance {
  margin-right: 5px;
}



.content button p {
  margin-top: 5px;
}
.content em {
  color:#3d3d3d ;
}
.behance-text-select em{
  color: #3d3d3d;
}
.card .image img{
  width: 500px;
  color: #0f2b17;
  border: solid rgb(255, 255, 255);
  border-radius: 10px;
}

.Cta-Btn{
  width: fit-content;
  margin-left: 0px;
  display: inline-flex;
  border: solid rgb(255, 255, 255);
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #000000;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.Cta-Btn i{
  margin-top: 5px;
  margin-left: 15px;
}

@media only screen and (max-width: 800px) {
  .card{
    width: 100%;
    background: #fff;
    color: #0f2b17;
    display: flex;
    flex-direction: column;
  }
  .card .content {
    width: 100%;
    margin: 10px;
    font-size: 18px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #3d3d3d;
  }
  .card .image img{
    width: 95%;
    color: #0f2b17;
    border: solid rgb(255, 255, 255);
    border-radius: 10px;
  }
  .desktop-img{
    display: none;
  }
  .card .Cta-Btn{
   width: fit-content;
   padding-left: -100px;
   display: inline-flex;
   font-size: 14px;
  }
  .content button p {
    margin-top: 6px;
  }
  .content button .fa-whatsapp {
    color: #ffffff;
    margin-right: 5px;
  }
}
@media only screen and (max-width: 1000px) {
  .card .content {
    width: 100%;
    margin: 30px;
    font-size: 30px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #3d3d3d;
  }
  .card-1 .qoutes {
    text-align: center;
    text-wrap: balance;
    margin: 10px;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #3d3d3d;
  }

 
}

@media only screen and (min-width: 600px) {
  
  .mobile-img{
    display: none;
  }

}

.abhishekImage{
  width: 600px;
}


@-webkit-keyframes AnimationName {
  0%{background-position:0% 22%}
  50%{background-position:50% 79%}
  100%{background-position:100% 22%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 22%}
  50%{background-position:50% 79%}
  100%{background-position:100% 22%}
}
@keyframes AnimationName {
  0%{background-position:0% 22%}
  50%{background-position:50% 79%}
  100%{background-position:100% 22%}
}

#loading-box{
  position: fixed;
  z-index: 2147483647;
	height: 100vh;
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(90deg, #dffeff, #e9d0f0,#e9fbff,#ffffff, #ffffff,#faffc8, #ffffff,#d8d1fb, #fffdfd); */
  background: #fff;
  background-size: 600% 600%;
  -webkit-animation: AnimationName 13s ease-in-out infinite;
  -moz-animation: AnimationName 13s ease-in-out  infinite;
  animation: AnimationName 13s ease-in-out  infinite;
}

#loading-wrapper {
  transition: ease-in-out 5.2s;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#loading-text {
  display: flexbox;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgb(0, 0, 0);
  width: 100px;
  height: 30px;
  margin: -7px 0 0 -45px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('https://ggayane.github.io/css-experiments/Inconsolata-VF.ttf');
  font-weight: 275 900;
  font-stretch: 20% 200%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

main h1 {
  color: #000;
  font-family: Inconsolata;
  text-align: center;
  font-size: 3em;
  font-variation-settings: "wght"175, "wdth"50;
}
@media only screen and (max-width: 600px) {
  main h1 {
    font-size: 2em;
  }
}
@media only screen and (max-width: 300px) {
  main h1 {
    font-size: 1.5em;
  }
}

.right {
  animation: swapthings 3s infinite both cubic-bezier(0.17, 0.04, 0.04, 0.99);
}

.left {
  animation: swapthings2 3s infinite both cubic-bezier(0.17, 0.04, 0.04, 0.99);
}


@keyframes swapthings {
  0% {
    font-variation-settings: "wght"275, "wdth"50;
  }

  50% {
    font-variation-settings: "wght"1000, "wdth"100;
  }

  100% {
    font-variation-settings: "wght"275, "wdth"50;
  }
}

@keyframes swapthings2 {
  0% {
    font-variation-settings: "wght"900, "wdth"200;
  }

  50% {
    font-variation-settings: "wght"275, "wdth"50;
  }

  100% {
    font-variation-settings: "wght"900, "wdth"200;
  }
}


#loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 180px;
  height: 180px;
  margin: -85px 0 0 -85px;
  border: 10px solid rgb(0, 14, 66);
}

#loading-content:after {
  content: "";
  position: absolute;
  border: 5px solid #dcd26c;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
}

#loading-content:before {
  content: "";
  position: absolute;
  border: 3px solid rgb(3, 3, 255);
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

#loading-content {
  border: 3px solid transparent;
  border-top-color: #3b004a;
  border-bottom-color: #030021;
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
}

#loading-content:before {
  border: 3px solid transparent;
  border-top-color: #002088;
  border-bottom-color: #002088;
  border-radius: 50%;
  -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 3s linear infinite;
}

#loading-content:after {
  border: 3px solid transparent;
  border-top-color: #84417C;
  border-bottom-color: #84417C;
  border-radius: 50%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#content-wrapper {
  color: #000000;
  position: fixed;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100%;
}





/* -------------------------------------------------------------
Loading Page Style
--------------------------------------------------------------------*/


@media (min-width: 993px) {
  #gif-hello{
  display: none;

  }
}




@media (min-width: 993px) {
  #gif-hello{
  display: none;

  }
  #text-padding-h2{
    margin-top: 10px;
  }
}
@media (max-width: 992px) {
  #gif-hello{
    width:96px;
    height: 96px;
    border-radius: 5%;
    }
}

@media (max-width: 450px) {
  #gif-hello{
  width:95px;
  height: 95px;
  border-radius: 5%;
  }
}
@media (max-width: 250px) {
  #gif-hello{
  width: 95px;
  height: 95px;
  border-radius: 5%;
  }
}

.logo-text-link{
  display: flexbox;
  flex-direction: row;
}
.rabbit-logo-img{
  width: 30px;
  height: 30px;
}
@media (max-width: 995px) {
  .rabbit-logo-img{
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 400px) {
  
  .rabbit-logo-img{
    width: 20px;
    height: 20px;
  }
}

#header {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  z-index: 9997;
}

#header * {
  transition: ease-in-out 0.3s;
}

#header h1 {
  font-size: 46px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#header h1 a,
#header h1 a:hover {
  color: #10000f;
  line-height: 1;
  display: inline-block;
}

#header h2 {
  font-size: 24px;
  color: rgb(27, 0, 19);
  margin-top: 2px;
}
@media (max-width: 995px) {
  #header h2 {
    text-align: center;
  }
}

#header h2 span {
  color: #140000;
  border-bottom: 2px solid #002088;
  padding-bottom: 6px;
}

#header img {
  padding: 0;
  margin: 0;
}

#header .social-links {
  margin-top: 40px;
  display: flex;
}

#header .social-links a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(216, 216, 255);
  color: #0c0002;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#header .social-links a:hover {
  background: #000000;
  color: #ffffff;
}

@media (max-width: 992px) {
  #header h1 {
    font-size: 25px;
  }
  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }
  #header .social-links {
    margin-top: 15px;
  }
  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 340px) {
  #header h1 {
    font-size: 20px;
  }
  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }
  #header .social-links {
    margin-top: 15px;
  }
  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 240px) {
  #header h1 {
    font-size: 20px;
  }
  #header h2 {
    font-size: 15px;
    line-height: 25px;
  }
  #header .social-links {
    margin-top: 15px;
  }
  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  margin-top: 35px;
}

.nav-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu li + li {
  margin-left: 30px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: rgb(2, 0, 7);
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  -webkit-text-stroke: 0.4px white; /* Outer stroke */
  -webkit-text-fill-color: black; /* Ensures the inner text remains visible */
}

.nav-menu a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #0f0154;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover > a:before,
.nav-menu .active > a:before {
  visibility: visible;
  width: 25px;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #001b72;
  text-decoration: none;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #0d002e;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: rgb(255, 255, 255);
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
  border: 2px solid rgba(255, 255, 255, 0.12);
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #020020;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #042695;
  text-decoration: none;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(216, 241, 255, 0.204);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #15008d;
}

/* Header Top */
#header.header-top {
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: rgb(255, 255, 255);
}

#header.header-top .social-links,
#header.header-top h2 {
  display: none;
}

#header.header-top h1 {
  margin-right: auto;
  font-size: 36px;
}

#header.header-top .container {
  display: flex;
  align-items: center;
}

#header.header-top .nav-menu {
  margin: 0;
}

@media (max-width: 768px) {
  #header.header-top {
    height: 60px;
  }
  #header.header-top h1 {
    font-size: 25px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  opacity: 0;
  transition: ease-in-out 0.4s;
  z-index: 2;
}

section.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
}

section .container {
  background: linear-gradient(180deg, rgb(255, 255, 255),rgb(255, 255, 255));
  ;
  padding: 30px;
}

@media (max-width: 768px) {
  section {
    top: 120px;
  }
  section.section-show {
    top: 80px;
  }
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #13000d;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #4ceb95;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: -15px 0 15px 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #08000d;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.my-img {
  border-radius: 5px;
}

.about-me .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #002088;
}

.about-me .content ul {
  list-style: none;
  padding: 0;
}

.about-me .content ul li {
  padding-bottom: 10px;
}

.about-me .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #002088;
}

.about-me .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: rgb(233, 255, 255);
  border: 5px solid #F0EFFF;
  border-radius: 5px;

}

.counts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: rgb(237, 235, 255);
  padding: 12px;
  color: #002088;
  border-radius: 50px;
  border: #ffffff solid 2px;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #0c0000;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
  margin:20px;
  margin-left: 10px;
  padding-left: 5px;
  border: rgb(153, 152, 152) /* #002088*/;
  border-style: groove;
  border-radius: 2px;
  border-width: 0.1px;
  height: 60px;
  display: block;
  background:rgb(255, 255, 255);
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #000000;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: rgb(255, 255, 255);
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #ffffff;
}

/*--------------------------------------------------------------
# Interests
--------------------------------------------------------------*/
.interests .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgb(255, 255, 255);
  transition: ease-in-out 0.3s;
}

.interests .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1.5;
}

.interests .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  color: #000000;
}

.interests .icon-box:hover {
  background: rgb(209, 213, 234);
}
/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.minglewiseimage{
  border-radius: 15px;
  padding: 15px;
}
.center {
  padding-bottom:7px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.resume .resume-title {
  width: 100%;
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #000000;
}
.resume .resume-title .flexer {
  width: 100%;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid rgb(73, 73, 73);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #002088;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: rgb(255, 255, 255);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #002088;
  border: 2px solid #002088;
}

.resume-view{
  display: block;
}
.resume-view iframe{
  border: #15bb62 0px solid;
  text-align: center;
}
@media only screen and (max-width: 485px) {
  .resume-view{
    display: none;
  } 
}


/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/

#projects-grid {
  position: relative;
  left: 0;
  right: 0;
  margin-top: 0;
  position: relative;
  padding-top: -220px;
  justify-content: center;
  margin-left: -0.5vw;
  height: auto;
  background-color: #ffffff00;
  width: 100%;

}
.Buttons-container{
  margin-left: 15px;
  text-align: left;
  width:100%;
  height: max-content;
}
.Case-Study-Btns{

 margin-top:0;
 margin-bottom: 20px;
 width: fit-content;
 padding-left: 15px;
 padding-right: 15px;
 height: 50px;
 border-radius: 10px;
 background:#000000;
 color: #ffffff ;
/* Large Text Bold */
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 140% */

border-width: 0;
}

.Case-Study-Btns:hover{

  background: #17001b;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.55);
   margin-top:0;
  margin-bottom: 20px;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
  border-radius: 10px;
 
 /* Large Text Bold */
 font-family: Open Sans;
 font-size: 20px;
 font-style: normal;
 font-weight: 700;
 line-height: 28px; /* 140% */
 
  }

  .Case-Study-Btns:active{
    padding-left:15px;
    padding-right: 15px;
    height: 29px;
    background: var(--Skylight, linear-gradient(180deg, #10011d 0%, rgba(0, 39, 56, 0.71) 100%));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.55);
     margin-top:0;
    margin-bottom: 20px;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    border-radius: 10px;
   
   /* Large Text Bold */
   font-family: Open Sans;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: 28px; /* 140% */
   }

@media only screen and (max-width: 366px) {
  .Case-Study-Btns{
    font-size: 16px;
    font-weight: 600;
    height: auto;
    padding: 10px;
  }
  .Case-Study-Btns:hover{
    font-size: 16px;
    font-weight: 600;
    height: auto;
    padding: 10px;
  }
  }




.btn-logo-svg{
  width: 29px;
  height: 29px;
  flex-shrink: 0;
}
/*--------------------------------------------------------------
# services new code 
--------------------------------------------------------------*/
.chip {
  z-index: 10000;
  display: block;
  width: 230px;
  height: 75px;
  font-size: 16px;
  line-height: 18px;
  /*border-radius: 25px;*/
  background-color: rgb(255, 255, 255); /*  rgb(0, 0, 0);*/
  border: 0.1px solid #a5a5a5;
  border-radius: 5px;
}
.chip:active {
  transform: scale(0.95);
}
.chip:focus {
  outline: none;
  opacity: 0.8;
}
.chip:hover {
  background-color: #ffffff;
}
.chip .logodiv {
  
  padding-left: 2px;
  float: left;
  margin: 4px 4px 0 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color:#abbdff;
}
.fab-1 {
  color: #002088;
  font-size: 35px;
}
.font-aw-icons {
  color: #002088;
  font-size: 25px;
}
.fab {
  margin-top: 10px;
  color: #ffffff;
  font-size: 30px;
}
.custom-fab-fix {
  margin-top: 20px;
  font-size: 30px;
  color: #14000d;
}
.custom-fab {

  color: #0a0003;
  font-size: 30px;
  font-size: 30px;
  margin-top: 10px; /* Avoid excessive spacing */
  vertical-align: middle;
  color: #0d0006;
}
.progress {
  display: flex;
  align-items: center;
  padding: 10px 0; /* Add spacing inside the box */
}




.services .icon-boxx {
  color: #1b000d;
  display: block;
  text-align: center;
  background: rgb(255, 255, 255); /**/
  background-color: #fff;
  transition: all ease-in-out 0.3s;
  width: fit-content;
  height: auto;
}
.nowrap {
  white-space: nowrap;
  font-size: 16px;
  direction: ltr;
}
.getup {
  margin-top: -9px;
}

#projects-grid {
  padding-top: -40px;
  padding-bottom: 5px;
  justify-content: center;
}
.icon-boxx .chip p {
  margin-left: 10px;
  margin: 5px;
  padding: 3px;
  position: relative;
  font-weight: 400;
  text-align: left;
  font-size: 16px;
  opacity: 1;
}
/*--------------------------------------------------------------
# UX projects 
--------------------------------------------------------------*/
.presentation-container{
  display: inline-block;
  height: fit-content;
}
.presentation{
  position: relative;
  left:0%;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.presentation iframe {
margin: bottom 10%;;
padding: 1%;
position: absolute;
width: 100%;
height: 100%;
}
@media only screen and (max-width: 900px) {
  .presentation{
    position: relative;
    left:0%;
    width: 100%;
    height: 0;
    padding-bottom: 66.25%;
    position: relative;
  }

  .presentation iframe {
    margin: bottom 0%;;
    padding: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    }
}

.image-ux-project{
  margin-top: 200px;
  height: fit-content;
  position: relative;
  width:100vw;
  text-align: center;
}


.image-style-border-foodies{
  border: ridge rgb(250, 3, 3);
  border-width: 0px 0px 10px 0px ;
}
.image-ux-project img{
  opacity: 0.86;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media only screen and (max-width: 900px) {
  .image-ux-project{
    margin-top: 350px;
  }
}
@media only screen and (max-width: 410px) {
  .image-ux-project{
    margin-top: 300px;
  }
}
@media only screen and (max-width: 355px) {
  .image-ux-project{
    margin-top: 500px;
  }
}
@media only screen and (max-width: 258px) {
  .image-ux-project{
    margin-top:450px;
  }
}
.figma-prototype{
 text-align: center;
 width: fit-content;
 height: fit-content;
 border: ridge rgb(223, 223, 223);
 border-width: 30px 5px 25px 5px ;
 border-radius: 5%;
}
@media only screen and (max-width: 410px) {
 .figma-prototype{
   display: none;
 }
 .prototype-text{
  display: none;
 }
}
.figma-prototype iframe{
  max-width:"360";
  max-height:"770";
  margin-top: 0px;
  margin-left: 2px;
  margin-right: 1px;
  margin-bottom: 0px;
}
.protoype-design-considerations{
  list-style-type:none;
}
.protoype-design-considerations li i{
  color: #002088;
  font-size: large;
}
.label-UXproject{
  margin-top: 10px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 24px;
}
@media only screen and (max-width: 410px) {
  .label-UXproject{
   font-size: 18px;
  }
 }
 .portfolio-item{
   background-color: #ffffff;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
   margin: 2px;
   border: 0.1px solid #a5a5a5;
   border-radius: 5px;

 }
 .view-prototype-btn{
  color: #fff;
  background-color: #000000;
   padding: 2px;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  font-weight:bold;
 }
 .view-prototype-btn:hover {
  background-color: #150013;
  font-weight: bolder;
  border: #100077c7;
  border-style: ridge;
  border-width: 5px;
}
.view-prototype-btn:active{
 opacity: 50%;
 transform: scale(0.9);

}
.view-prototype-btn:focus {
  outline: none;
  opacity: 0.8;
}
.prototype-text{
  text-align: center;
  font-size: smaller;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 90%;
  border-radius: 5px;
  border-width: 3px;
  border-style: ridge;
}

/*--------------------------------------------------------------
# portfolio code
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.MinglewisemImage{
  border: 0px solid red;
  border-radius: 40px;
}
.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 15px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 10px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #110006;
  background: rgb(255, 255, 255);
  margin: 0 3px 10px 3px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  background: #002088;
}
.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
.portfolio .portfolio-wrap {
  border: 0.1px solid #a5a5a5;
  border-radius: 5px;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgb(255, 255, 255);
}
.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(72, 72, 72, 0.3);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}
.portfolio .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.portfolio .portfolio-wrap .portfolio-links {
  text-align: left;
  z-index: 4;
}
.portfolio .portfolio-wrap .portfolio-links a {
  color: #e1e5ff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #ffffff;
}
.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}
.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}
.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
  background: rgb(255, 255, 255);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}
.portfolio-details .container {
  padding-top: 20px;
  padding-bottom: 40px;
}
.portfolio-details .portfolio-title {
  text-align: left;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-info {
  padding-top: 45px;
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
.portfolio-details .portfolio-info p {
  font-size: 15px;
  padding: 15px 0 0 0;
}
@media (max-width: 992px) {
  .portfolio-details .portfolio-info {
    padding-top: 20px;
  }
}
.portfolio-details .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: rgb(255, 255, 255);
}
.portfolio-details .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #002088;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact-Bunny-container{
  text-align: center;
  height: fit-content;
  position: relative;
}
.contact-Bunny{
  height: fit-content;
  position: relative;
  width:100%;
  text-align: center;
}
@media (min-width: 992px) {
  .contact-Bunny{
    width:40%;
    text-align: center;
  }
}
.link-color-disable:link {
  color: #160018;
  text-decoration: none;
}
.link-color-disable:hover {
  color: #002088;
}
.checkme {
  padding: 5px;
  margin: auto;
}
.submitinput {
  width: 35vw;
  margin-top: 4px;
}
.contact .info-box {
  color: #0f0000;
  padding: 20px;
  width: 100%;
  background: rgb(255, 255, 255);
  border: 0.1px solid #a5a5a5;
  border-radius: 5px;
}

.contact .info-box i.bx {
  font-size: 24px;
  color: #002088;
  border-radius: 50%;
  padding: 14px;
  float: left;
  background: rgb(255, 255, 255);
}

.contact .info-box h3 {
  font-size: 20px;
  color: rgb(11, 0, 17);
  font-weight: 700;
  margin: 10px 0 8px 68px;
}

.contact .info-box p {
  padding: 0;
  color: #04000a;
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;
}

.contact .info-box .social-links {
  margin: 5px 0 0 68px;
  display: flex;
}

.contact .info-box .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #2d0126;
  line-height: 1;
  margin-right: 12px;
  transition: 0.3s;
}

.contact .info-box .social-links a:hover {
  color: #ffffff;

}

.contact .php-email-form {
  padding: 30px;
  background: rgb(255, 255, 255);
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  background: #002088;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #002088;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.08);
  border: 0;
  transition: 0.3s;
  color: #0b001a;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  background-color: rgb(255, 255, 255);
}

.contact .php-email-form input::-webkit-input-placeholder,
.contact .php-email-form textarea::-webkit-input-placeholder {
  color: rgba(15, 0, 0, 0.3);
  opacity: 1;
}

.contact .php-email-form input::-moz-placeholder,
.contact .php-email-form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .php-email-form input:-ms-input-placeholder,
.contact .php-email-form textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.contact .php-email-form input::-ms-input-placeholder,
.contact .php-email-form textarea::-ms-input-placeholder {
  color: rgba(4, 0, 0, 0.3);
  opacity: 1;
}

.contact .php-email-form input::placeholder,
.contact .php-email-form textarea::placeholder {
  color: rgb(19, 0, 0);
  opacity: 1;
}

.contact .php-email-form input {
  padding: 20px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #002088;
  border: 0;
  padding: 10px 30px;
  color: #000000;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #15bb62;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Credits
--------------------------------------------------------------*/
.credits {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 15px;
  text-align: right;
  font-size: 13px;
  color: #000000;
  z-index: 1;
}

@media (max-width: 992px) {
  .credits {
    text-align: center;
    padding: 10px;
    background: rgb(208, 255, 255);
  }
}

.credits a {
  color: #002088;
  transition: 0.3s;
}

.credits a:hover {
  color: #240021;
}
/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-detail {
  padding: 30px 0 60px 0;
}

.portfolio-detail .portfolio-details-container {
  position: relative;
}

.portfolio-detail .portfolio-details-carousel {
  padding: 5px;
  background: #000;
  position: relative;
  z-index: 1;
  border-radius: 9px;
}

.portfolio-detail .portfolio-details-carousel .owl-nav, .portfolio-detail .portfolio-details-carousel .owl-dots {
  margin-left: 5px;
  margin-top: 5px;
  text-align: left;
  border: #464646 2px;
}

.portfolio-detail .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff !important;
  border: #464646 2px;
}

.portfolio-detail .portfolio-details-carousel .owl-dot.active {
  background-color: #7d9eff !important;
  border: #464646 2px;
}

.portfolio-detail .portfolio-info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.portfolio-detail .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-detail .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-detail .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-detail .portfolio-description {
  padding-top: 50px;
}

.portfolio-detail .portfolio-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-detail .portfolio-description p {
  padding: 0 0 0 0;
}

@media (max-width: 768px) {
  .portfolio-detail .portfolio-info {
    position: static;
    margin-top: 30px;
  }
}

.typing-cursor{
  border-right: 2px solid #ffffff00;
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink{
  0% , 100%{
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.article {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  border: 0.2px solid #b4b4b4;
}

.article:hover {
  transform: translateY(-5px);
}

.article img {
  width: 100%;
  height: auto;
  display: block;
}

.article-content {
  padding: 15px;
}

.article-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #090000;
  text-decoration: none;
  display: block;
}

.article-title:hover {
  color: #030126;
}

.article-description {
  font-size: 0.9rem;
  color: #0a001a;
  line-height: 1.4;
}

.googleBadge{
  border: 7px solid #000715;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.toggle-btn {
  width: 60px;
  height: 30px;
  background: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s;
}

.toggle-btn::before {
  content: "";
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  left: 3px;
  transition: 0.3s;
}

.toggle-on {
  background: #4CAF50 !important;
}

.toggle-on::before {
  left: 32px;
}

/* Custom Styles */
.case-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background: #ffffff;
  color: #000000;
  width: 100%;
  border: 4px solid rgb(255, 255, 255);
}

.case-card:hover {
  transform: scale(1.08);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3);
}

.case-card:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.case-card img {
  height: auto;
  object-fit: contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

/* Adjusted card body */
.card-body {
  padding: 20px;
  background: #fff;
  color: #000;
}

/* Ensuring text is visible */
.card-body h5 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.card-body p {
  font-size: 16px;
  text-align: center;
}

#caseStudiesContainer {
  box-shadow: inset 0 0 10px rgb(62, 57, 95);
  background-color: rgba(8, 57, 67, 0.784);
  padding: 20px;
  padding-top: 30px;
  border-radius: 10px;
}

.tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #17a2b8; /* Info blue color */
  color: white;
  padding: 5px 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 0 0 10px 0; /* Rounded bottom-right corner */
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Soft shadow */
  z-index: 999; /* Ensures it stays above images */
}


.designerNotes {
  background-color: white;  /* White background */
  border-radius: 10px;       /* Rounded corners */
  color: black;              /* Dark text */
  width: 100%;               /* Full width */
  height: auto;              /* Auto height */
  padding: 15px;              /* Padding */
}

iframe#google-form {
  width: 100%;
  max-width: 900px;
  min-height: 1050px;
  border: none;
  overflow: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

iframe#google-form::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

